.contact-section {
  background-color: #060806;
  color: white;
  // padding: 80px auto;
  // margin: auto;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
