$font-stack: Montserrat, system-ui;
$font-stack: Montserrat, system-ui;
$primary-color: #a8ff35;
$primary-color-hover: #7de600;

.contact-form {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  gap: 28px;

  width: 660px;

  @media (max-width: 660px) {
    width: auto;
  }

  &-field-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > label {
      font-size: 18px;
      > span {
        color: red;
      }
    }
    > input,
    textarea {
      padding: 12px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.button-div {
  display: flex;
  justify-content: center;
}
.contact-button {
  font-size: 18px;
  font-weight: bold;
  width: 360px;
  padding: 18px;
  border: 0;
  border-radius: 29px;
  cursor: pointer;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
  }
}
